@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.sideBar::-webkit-scrollbar {
  width: 0px;
}

.sideBar * {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@layer base {
  h2 {
    @apply sm:text-4xl font-bold tracking-wide text-gray-700 text-xl;
  }
  h3 {
    @apply sm:text-3xl font-bold tracking-wide text-gray-700 text-[16px];
  }
  h4 {
    @apply sm:text-[16px] uppercase font-bold tracking-wide text-gray-700 mt-4 text-[12px];
  }
  h5 {
    @apply sm:text-lg font-medium text-gray-500 text-[14px];
  }
}

@layer components {
  .form-login {
    @apply flex flex-col gap-6 bg-slate-100 md:max-w-[600px] w-[600px] rounded-lg px-6 py-12;
  }
  .form-login h2 {
    @apply text-center;
  }
  .form-login div p {
    @apply text-red-600;
  }
  .form-login div {
    @apply flex flex-col gap-2;
  }
  .form-login div label {
    @apply text-lg font-medium;
  }
  .form-login div input {
    @apply px-4 py-2 rounded;
  }
  .form-login button {
    @apply bg-yellow-400 py-3 rounded text-lg font-semibold;
  }
}

@layer utilities {
}

/* //////////////////// LOADING //////////////////////// */

.classic-3 {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 0 5px 8px 0;
  background: repeating-linear-gradient(90deg, currentColor 0 8%, #0000 0 10%)
    200% 100%/200% 3px no-repeat;
  animation: c3 2s steps(6) infinite;
}
@keyframes c3 {
  to {
    background-position: 80% 100%;
  }
}
